  {{>header}}
  <form action="">
    <input type="text" placeholder="Location">
    <button>Search</button>
  </form>
  <p id="message-1"></pi>
  <p id="message-2"></p>
  <script src="/js/app.js"></script>
  {{>footer}}

